{% extends "base.html" %}

{% block content %}

<h2>Editar OS</h2>

<form method="POST">

<input name="cliente" value="{{ os.cliente }}" class="form-control"><br>
<input name="placa" value="{{ os.placa }}" class="form-control"><br>
<input name="seguradora" value="{{ os.seguradora }}" class="form-control"><br>

<input name="valor_pecas" value="{{ os.valor_pecas }}" class="form-control"><br>
<input name="valor_mao_obra" value="{{ os.valor_mao_obra }}" class="form-control"><br>

<select name="status" class="form-control">
    <option>CRIADA</option>
    <option>VISTORIA</option>
    <option>LIBERADA</option>
    <option>REPARO</option>
    <option>FINALIZADA</option>
</select><br>

<button class="btn btn-success">Salvar</button>
<a href="/listar_os" class="btn btn-secondary">Voltar</a>

</form>

{% endblock %}